<app-generic-page [pageTitle]="title" [loading]="loading">
  <ng-container main-filters>
  </ng-container>

  <ng-container extra-filters>

  </ng-container>

  <ng-container buttons>
    <dx-button appPermission appRole="ROLE_MANAGEMENT" permissionCode="ADD" text="Thêm mới" [icon]="dxButtonConfig.add_icon" [type]="dxButtonConfig.add_type" (click)="add()">
    </dx-button>
  </ng-container>

  <ng-container body>
    <div class="view-card-body">
      <div class="card-content">
        <div class="content">
          <dx-tree-list id="gridContainer" [dataSource]="allData" keyExpr="ID" parentIdExpr="cParentId"
            [expandedRowKeys]="[]" [showBorders]="true" [focusedRowEnabled]="true" [columnAutoWidth]="true"
            [wordWrapEnabled]="true" [paging]="{ enabled: false }" [showColumnHeaders]="true" [showColumnLines]="true"
            [showRowLines]="true" [hoverStateEnabled]="true" [focusedRowKey]="focusKey"
            (onFocusedRowChanged)="onFocusedRowChanged($event)">
            <dxo-scrolling mode="standard" rowRenderingMode="standard"></dxo-scrolling>
            <dxo-header-filter [visible]="false"></dxo-header-filter>

            <dxi-column dataField="cRoleCode" caption="Tên mã hoá" cssClass="vertical-middle"></dxi-column>
            <dxi-column dataField="cRoleName" caption="Tên chức năng" cssClass="vertical-middle"></dxi-column>
            <dxi-column cellTemplate="cellAction" [width]="45" alignment="center" [showInColumnChooser]="false"
              cssClass="vertical-middle"></dxi-column>

            <div appPermission appRole="ROLE_MANAGEMENT" permissionCode="DELETE" class="rowAction"
              *dxTemplate="let row of 'cellAction'">
              <span class="dx-icon-close" (click)="delete(row.data.ID, row.data.cRoleName)"></span>
            </div>
          </dx-tree-list>
        </div>
      </div>

      <div class="toggle-detail">
        <i *ngIf="isShowDetail" class="fa fa-chevron-right fa-lg" (click)="toggleDetail()"></i>
        <i *ngIf="!isShowDetail" class="fa fa-chevron-left fa-lg" (click)="toggleDetail()"></i>
      </div>

      <div *ngIf="isShowDetail" class="card-detail">
        <div class="detail-header">
          <p>{{ state === 'detail' ? 'CHI TIẾT' : state === 'insert' ? 'THÊM MỚI' : 'CẬP NHẬT' }}</p>
        </div>
        <div class="detail-content">
          <dx-scroll-view>
            <app-form-role-detail #detail [entity]="currentEntity" [listData]="allData" [state]="state">
            </app-form-role-detail>
          </dx-scroll-view>
        </div>
        <div class="detail-footer">
          <dx-button appPermission appRole="ROLE_MANAGEMENT" permissionCode="UPDATE" *ngIf="state=='detail'"
            [icon]="dxButtonConfig.edit_icon" [type]="dxButtonConfig.edit_type" text="Sửa" (click)="edit()"></dx-button>
          <dx-button *ngIf="state!='detail'" [icon]="dxButtonConfig.save_icon" [type]="dxButtonConfig.save_type"
            text="Lưu" (click)="save()"></dx-button>
          <dx-button *ngIf="state!='detail'" [icon]="dxButtonConfig.cancel_icon" [type]="dxButtonConfig.cancel_type"
            text="Hủy" (click)="cancel()"></dx-button>
        </div>
      </div>
    </div>
  </ng-container>
</app-generic-page>
