# .dockerignore
node_modules
.git
.gitignore
.editorconfig
.angular
src
e2e
karma.conf.js
tslint.json
.vscode
README.md
ng-e2e/

# Các phần khác mà bạn có thể có (đã loại bỏ dòng gây lỗi):
/dist
/tmp
/out-tsc
/bazel-out

npm-debug.log
yarn-error.log

.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

.DS_Store
Thumbs.db