<div class="row widget-header white-background p-1">
    <div class="col-8">
        <dx-toolbar>

            <dxi-item location="before" widget="dxButton" locateInMenu="never">
                <div *dxTemplate>
                    <div class="toolbar-label">
                        THÔNG BÁO CHỈ ĐẠO
                    </div>
                </div>
            </dxi-item>
        </dx-toolbar>
    </div>
    <div class="col-4" style="text-align: right;">
        <dx-button (click)="openCreateForm()" [type]="dxButtonConfig.add_type" text="Thêm thông báo chỉ đạo" [icon]="dxButtonConfig.add_icon">

        </dx-button>
    </div>
</div>


<div class="h-auto" style="min-height: calc(100vh - 112px);">
    <!-- <ngx-loading [show]="loading"></ngx-loading> -->
    <div style="margin: 8px 10px; min-height: calc(100vh - 120px); background-color: #fff;">
        <div class="list-actions my-2 d-flex flex-row">
            
            <a *ngIf="!isUserCucDoanhTrai" class="d-inline-block h-100 text-uppercase text-decoration-none"   
                (click)="handleChangeTabs('thongbaonhan')"             
                [ngClass]="{ 'active': idFeature == 'thongbaonhan' }" href="javascript:void(0)">Thông báo nhận</a>

            <a class="d-inline-block h-100 text-uppercase text-decoration-none"
                (click)="handleChangeTabs('thongbaodagui')"  
                [ngClass]="{ 'active': idFeature == 'thongbaodagui' }" href="javascript:void(0)">Thông báo đã gửi</a>
        </div>

        <div class="px-2 mt-2">
            <div *ngIf="idFeature=='thongbaonhan' || !idFeature">
                <app-thongbaochidao-thongbaonhan></app-thongbaochidao-thongbaonhan>
            </div>
            <div *ngIf="idFeature=='thongbaodagui'">
                <app-thongbaochidao-thongbaodagui [isReloadBaoCaoDaGui]="isReloadBaoCaoDaGui" (notifyParent)="getNotifyParentValueFromDaGui($event)"></app-thongbaochidao-thongbaodagui>
            </div>
        </div>
    </div>
</div>

<dx-popup [width]="800" height="550" [showTitle]="true" title="Cập nhật thông tin thông báo" [dragEnabled]="false"
    [(visible)]="isOpenCreateForm">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">
            <app-form-thongbaochidao 
                (notifyParent)="getNotifyParentValue($event)"></app-form-thongbaochidao>
        </dx-scroll-view>
    </div>
</dx-popup>