$topnav-background-color: #fff;

.sidebar {
  border-radius: 0;
  position: fixed;
  z-index: 1500;
  top: 0px;
  left: 260px;
  width: 260px;
  margin-left: -260px;
  // margin-bottom: 48px;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  background-color: $topnav-background-color;
  // background: linear-gradient(to right, #141E30, #243B55);
  bottom: 0;
  // overflow-x: hidden;
  // padding-bottom: 40px;
  white-space: nowrap;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-top: 1px solid rgba(255, 255, 255, 0.3);

  box-shadow: 3px 3px 3px -3px #333;

  .user {
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: space-around;

    h5 {
      width: 150px;
      text-wrap: wrap;
      display: flex;
      justify-content: space-around;
      align-items: center;
      color: #243B55;
      font-weight: 600;
    }
  }

  .list-group {
    a.list-group-item {
      padding-left: 10px;
      padding-right: 5px;
      // box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset #365e86 0 1px 0;
      background: $topnav-background-color;
      // background: linear-gradient(to right, #141E30, #243B55);
      border: 0;
      border-radius: 0;
      color: #243B55;
      text-decoration: none;
      display: flex;
      justify-content: space-between;

      // .role-name {
      //   width: 100px;
      //   // overflow: hidden;
      //   text-overflow: ellipsis;
      // }

      a {
        background: $topnav-background-color;
        color: #6c757d;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        height: 100%;
      }

      a:hover {
        background: #243B55;
        color: #ccc;
      }

      .fa {
        margin-right: 3px;
      }
    }

    a:hover {
      // background: #243B55;
      color: red;

      a {
        background: #243B55;
        color: #fff;
      }
    }

    a.router-link-active {
      background: darken($topnav-background-color, 5%);
      color: #fff;
    }

    .header-fields {
      padding-top: 100px;

      >.list-group-item:first-child {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
  }

  .sidebar-dropdown {
    *:focus {
      border-radius: none;
      border: none;
    }

    .panel-title {
      font-size: 1rem;
      height: 50px;
      margin-bottom: 0;

      a {
        color: #999;
        text-decoration: none;
        font-weight: 400;
        background: $topnav-background-color;

        span {
          position: relative;
          display: block;
          padding: 0.75rem 1.5rem;
          padding-top: 1rem;
        }
      }

      a:hover,
      a:focus {
        color: #fff;
        outline: none;
        outline-offset: -2px;
      }
    }

    .panel-title:hover {
      background: darken($topnav-background-color, 5%);
    }

    .panel-collapse {
      border-radius: 0;
      border: none;

      .panel-body {
        .list-group-item {
          border-radius: 0;
          background-color: $topnav-background-color;
          border: 0 solid transparent;

          a {
            color: #999;
          }

          a:hover {
            color: #fff;
          }
        }

        .list-group-item:hover {
          background: darken($topnav-background-color, 5%);
        }
      }
    }
  }
}

.nested-menu {
  // a.parent-active {
  //   // padding-right: 0;
  //   // border-right: 6px solid lightsalmon !important;
  // }

  .list-group-item {
    cursor: pointer;
  }

  .nested {
    list-style-type: none;
    position: relative;
    top: 0;
  }

  ul.submenu {
    display: none;
    height: 0;
    // margin-left: 10px;
    .head {
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      padding: 5px 10px 0 10px;
      margin: 0 5px 0 5px;
      font-size: 14px;
      user-select: none;
      color: red;
    }
  }

  ul.submenu li {
    position: relative;
    top: 2px;
  }

  // ul.submenu li::before {
  //   background: #425668;
  //   bottom: auto;
  //   content: '';
  //   height: 8px;
  //   left: -4px;
  //   margin-top: 15px;
  //   position: absolute;
  //   right: auto;
  //   width: 8px;
  //   border-radius: 50%;
  // }

  // ul.submenu li::after {
  //   border-left: 1px solid #425668;
  //   bottom: 0;
  //   content: '';
  //   left: -0px;
  //   position: absolute;
  //   top: 0;
  // }

  & .expand {
    ul.submenu {
      display: block;
      list-style-type: none;
      height: auto;
      padding-left: 1rem;

      li {
        a {
          color: #243B55;
          padding: 10px;
          display: block;
          text-decoration: none;
        }

        a:hover {
          color: red;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .sidebar {
    top: 0px;
    left: 0px;
  }
}

@media print {
  .sidebar {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .header-fields {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px rgba(255, 255, 255, 1);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  box-shadow: inset 0 0 3px rgba(255, 255, 255, 1);
}

.toggle-button {
  position: fixed;
  width: 236px;
  cursor: pointer;
  padding: 12px;
  bottom: 0;
  color: #fff;
  background: #00355f;

  i {
    font-size: 18px;
  }

  &:hover {
    background: darken($topnav-background-color, 5%);
    color: darken(#fff, 0%);
  }

  border-top: 1px solid #999;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.collapsed {
  width: 70px;
  overflow: visible !important;

  .nested-menu {
    position: relative !important;

    .list-group-item {
      justify-content: space-around !important;
    }

    // Show submenu when hovering over the parent or the submenu :hover
    .list-group-item:hover + .nested,
    .nested:hover {
      display: block !important;
      position: absolute !important;
      top: 0px;
      left: 100%;
      width: auto;
      z-index: 10000;
      height: auto;
      // background-color: white !important;
      margin: 0;

      .submenu {
        display: inline-block !important;
        background-color: white !important;
        height: auto;
        list-style-type: none;
        border: solid 1px #ccc;
        border-radius: 0 5px 5px 0;
        padding-left: 0;
        // padding: 5px;
        margin: 0;

        // li::after {
        //   content: '';
        //   position: absolute;
        //   bottom: 0;
        //   left: 0;
        //   width: 0;
        //   height: 2px;
        // }

        a {
          display: block !important;
          // height: 50px;
          padding: 10px;
          background-color: transparent;
          border-radius: 0 5px 5px 0;
          text-decoration: none;
          color: #00355f;

          &:hover {
            color: red;
          }
          // border: solid 1px green;

          // span {
          //   // border: solid 1px red;
          // }

          // ::after {
          //   color: #00355f;
          //   content: '';
          //   position: absolute;
          //   bottom: 0;
          //   left: 0;
          //   width: 100%;
          //   height: 1px;
          // }
        }

        span {
          display: block !important;
        }
      }
    }
  }

  .submenu {
    display: none !important;
  }

  span {
    display: none;
  }
}

.rotate {
  transform: rotate(90deg);
}

.active {
  // font-weight: bold;
  color: red !important;
  transition: ease 1s;
}

.isExpand {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: 0.3s;
}

.isColapse {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: 0.3s;
}
