<div class="p-2">
    
        <div class="row">
            <div class="col-12">
                <div class="my-2">
                    <label for="">Tên thông báo</label>
                    <dx-text-area [readOnly]="true" [value]="detailThongBao.Ten"></dx-text-area>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="my-2">
                    <label for="">Nội dung</label>
                    <dx-text-area [readOnly]="true" [value]="detailThongBao.NoiDung"></dx-text-area>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="my-2">
                    <label for="">Ngày thông báo</label>
                    <p>{{ detailThongBao.NgayThongBao | date :'dd/MM/yyyy'}}</p>
                </div>
            </div>
            <div class="col-6">
                <div class="my-2">
                    <label for="">Hạn xử lý</label>
                    <p>{{ detailThongBao.HanXuLy | date :'dd/MM/yyyy'}}</p>                  
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="my-2">
                    <label for="">Đơn vị gửi</label>
                    <p>
                        <span *ngIf="!detailThongBao.MaDonViGui">Cục doanh trại/Tổng cục hậu cần</span>
                        <span *ngIf="detailThongBao.MaDonViGui">{{ detailThongBao.TenDonViGui }}</span>
                    </p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-12">
                <div class="my-2">        
                    <label for="">File đính kèm</label>       <br>     
                    <a href="{{prefixLinkDinhKem}}/{{detailThongBao.TaiLieuDinhKem}}" target="_blank">{{detailThongBao.TaiLieuDinhKem}}</a>
                </div>
            </div>

        </div>

</div>