
<div class="row">
    <div class="col-4">
        <div class="d-flex flex-row align-items-center">
            <label class="mr-2" for="">Đơn vị gửi</label>
            <app-dropdown-donvi-multiplechoose class="flex-grow-1" 
            [donViCapTrenOnLy]="true"
                [addCucDoanhTrai]="true" [(maDonVi)]="listFilterDonViGui" (maDonViChange)="loadAllThongBao()">
            </app-dropdown-donvi-multiplechoose>
        </div>        
    </div>
    <div class="col-8">
        <div class="dx-field">
            <div class="input-group" >
                <dx-text-box mode="search" [elementAttr]="{ class: 'form-control' }"
                    placeholder="Tìm kiếm tên thông báo ..." [(value)]="keyword"
                    (onEnterKey)="loadAllThongBao()">
                </dx-text-box>
                <dx-button class="custom-button" style="margin-left: 4px;" (click)="loadAllThongBao()"
                    [type]="dxButtonConfig.search_type" text="Tìm kiếm"></dx-button>
            </div>
        </div>
    </div>
</div>
<div class="mt-2 row">
    <div class="col-12">
        <table class="table table-bordered table-hover text-center">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên thông báo</th>
                    <th>Đơn vị gửi</th>                   
                </tr>
            </thead>
            <tbody>
                <tr [class.fw-bold]="!item.DaNhan" *ngFor="let item of items; index as i">
                    <td>{{ (pageIndex - 1) * pageSize + i + 1 }}</td>
                    <td>
                        <a href="javascript:void(0)" (click)="openThongBaoView(item.Id)">
                            {{ item.Ten }}
                        </a>
                        
                    </td>                    
                    <td>
                       {{item.TenDonViGui}}                      
                    </td>                  
                </tr>
            </tbody>
        </table>

    </div>
    <div class="col-12" style="border-top: 1px solid #ddd; padding-top: 8px;">
        <app-paginator [pageSize]="pageSize" [totalRows]="totalRecords" [pageSizes]="PaginatorConfig"
            (onPageChanged)="handlePageChange($event)" (onPageSizeChanged)="handlePageSizeChange($event)"
            [page]="pageIndex"></app-paginator>
    </div>
</div>

<dx-popup [width]="800" height="550" [showTitle]="true" title="Thông tin thông báo" [dragEnabled]="false"
    [(visible)]="isOpenThongBaoView">
    <div *dxTemplate="let data of 'content'">
        <dx-scroll-view width="100%" height="100%">
            <app-form-thongbaochidao-view [IdThongBao]="selectedIdThongBao"></app-form-thongbaochidao-view>
        </dx-scroll-view>
    </div>
</dx-popup>