<div class="widget-header d-flex align-items-center">
  <dx-toolbar width="100%">
    <!-- Back Button -->
    <dxi-item *ngIf="haveBackButton" location="before" widget="dxButton" locateInMenu="auto">
      <dx-button id="button" hint="Go back" (click)="handleBack()" icon="arrowleft"
        [type]="dxButtonConfig.onlyIcon_type">
      </dx-button>
    </dxi-item>

    <!-- Page Title -->
    <dxi-item location="before" widget="dxButton" locateInMenu="never">
      <div *dxTemplate>
        <div class="toolbar-label d-flex align-items-center">
          <ng-content select="[back-button]"></ng-content>
          <span class="page-title">{{ pageTitle | uppercase }}</span>
          <span *ngIf="titleInfo" class="title-info">{{ titleInfo | uppercase}}</span>
        </div>
      </div>
    </dxi-item>

    <!-- Main Filters -->
    <dxi-item location="before" widget="dxButton" locateInMenu="auto">
      <div *dxTemplate>
        <div class="filters">
          <div class="main-filters d-flex align-items-center">
            <ng-content select="[main-filters]"></ng-content>
            <button #moreFilterButton type="button" class="btn-filter" title="Add Filter"
                  [ngClass]="{active: isShowExtraFilter}" (click)="showExtraFilters()">
              <i class="fa fa-filter"></i>
            </button>
          </div>
          <div #extraFilters class="extra-filters" [ngClass]="{'show-filter': isShowExtraFilter}">
            <ng-content select="[extra-filters]"></ng-content>
          </div>
        </div>
      </div>
    </dxi-item>

    <!-- Info Section -->
    <dxi-item location="before" widget="dxButton" locateInMenu="auto">
      <div *dxTemplate>
        <span class="info">
          <ng-content select="[info]"></ng-content>
        </span>
      </div>
    </dxi-item>

    <!-- Action Buttons -->
    <dxi-item location="after" widget="dxButton" locateInMenu="auto">
      <div *dxTemplate>
        <div #buttons class="d-flex align-items-center gap-2">
          <ng-content select="[buttons]"></ng-content>
        </div>
      </div>
    </dxi-item>
  </dx-toolbar>
</div>

<div class="view-card-body">
  <div class="loading">
    <ng-content select="[loading]"></ng-content>
  </div>
  <div class="content">
    <dx-scroll-view id="scrollView" style="height: 100%; width: 100%;">
      <ng-content select="[body]"></ng-content>
    </dx-scroll-view>
    <div *ngIf="haveForm" class="form-toggle">
      <i *ngIf="formOpen" class="fa fa-chevron-right fa-lg" (click)="changeOpenStatus()"></i>
      <i *ngIf="!formOpen" class="fa fa-chevron-left fa-lg" (click)="changeOpenStatus()"></i>
    </div>
    <div class="form" [ngClass]="{'open': formOpen}">
      <div class="form-content">
        <ng-content select="[form]"></ng-content>
      </div>
    </div>
  </div>
</div>

<dx-load-panel shadingColor="rgba(0,0,0,0.4)" textContent="Processing" [position]="{ of: '.content' }" [(visible)]="loading"
  [showIndicator]="true" [showPane]="false" [shading]="true" [closeOnOutsideClick]="false">
</dx-load-panel>
