<nav class="navbar navbar-expand-lg admin-navbar">
    <div class="container-fluid px-3">
        <!-- Brand -->
        <a class="navbar-brand d-flex align-items-center" routerLink="/administration/dashboard">
            <i class="fa fa-graduation-cap me-2"></i>
            <span>IGCSE-HUB</span>
        </a>

        <!-- Mobile Toggler -->
        <button class="navbar-toggler border-0 shadow-none" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>

        <!-- Menu Container -->
        <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed">
            <!-- Main Navigation -->
            <ul class="navbar-nav mx-auto">
                <ng-container *ngFor="let item of userSideBarInfo">
                    <!-- Item with children -->
                    <li class="nav-item dropdown mx-1" *ngIf="item.children && item.children.length > 0" ngbDropdown>
                        <a class="nav-link dropdown-toggle d-flex align-items-center" href="javascript:void(0)" ngbDropdownToggle>
                            <i class="fa {{ item.cIconCss }} me-2"></i>
                            <span>{{ item.cRoleName }}</span>
                        </a>
                        <div class="dropdown-menu py-1" ngbDropdownMenu>
                            <a *ngFor="let subItem of item.children"
                               class="dropdown-item py-2"
                               routerLink="{{ subItem.cUrl }}"
                               routerLinkActive="active"
                               (click)="isNavbarCollapsed = true">
                                <i class="fa fa-angle-right me-2"></i>
                                {{ subItem.cRoleName }}
                            </a>
                        </div>
                    </li>
                    <!-- Item without children -->
                    <li class="nav-item mx-1" *ngIf="!item.children || item.children.length === 0">
                        <a class="nav-link d-flex align-items-center"
                           routerLink="{{ item.cUrl }}"
                           routerLinkActive="active"
                           (click)="isNavbarCollapsed = true">
                            <i class="fa {{ item.cIconCss }} me-2"></i>
                            <span>{{ item.cRoleName }}</span>
                        </a>
                    </li>
                </ng-container>
            </ul>

            <!-- User Menu (right side) -->
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown" ngbDropdown placement="bottom-end">
                    <a class="nav-link dropdown-toggle user-dropdown-toggle d-flex align-items-center" href="javascript:void(0)" ngbDropdownToggle>
                        <div class="avatar-circle me-2 d-none d-lg-flex">
                            <span class="initials">{{ getInitials(user?.Full_Name) }}</span>
                        </div>
                        <i class="fa fa-user-circle d-lg-none me-1"></i>
                        <span class="d-none d-lg-inline">{{ user?.Full_Name }}</span>
                    </a>
                    <div class="dropdown-menu py-1" ngbDropdownMenu>
                        <div class="dropdown-header d-flex align-items-center pb-2 mb-2 border-bottom d-lg-none">
                            <div class="avatar-circle me-2">
                                <span class="initials">{{ getInitials(user?.Full_Name) }}</span>
                            </div>
                            <div>
                                <h6 class="mb-0">{{ user?.Full_Name }}</h6>
                                <small class="text-muted">{{ user?.User_Email }}</small>
                            </div>
                        </div>
                        <a class="dropdown-item py-2" routerLink="/administration/user-info" (click)="isNavbarCollapsed = true">
                            <i class="fa fa-user me-2"></i> Profile
                        </a>
                        <a class="dropdown-item py-2" href="javascript:void(0)" (click)="onChangePassword()">
                            <i class="fa fa-key me-2"></i> Change Password
                        </a>
                        <div class="dropdown-divider my-1"></div>
                        <a class="dropdown-item py-2" (click)="onLoggedout(); isNavbarCollapsed = true" routerLink="/login">
                            <i class="fa fa-sign-out me-2"></i> Logout
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- <dx-toolbar>
  <dxi-item location="before" widget="dxButton" locateInMenu="never">
    <div *dxTemplate>
      <div class="toolbar-label">
        {{ 'PHẦN MỀM VÀ CƠ SỞ DỮ LIỆU PHÒNG CHỐNG VŨ KHÍ HỦY DIỆT HÀNG LOẠT' | uppercase }}
      </div>
    </div>
  </dxi-item>
  <dxi-item location="after" locateInMenu="never">
    <div style="width: 200px;">
      <button (click)="toggleSidebar()" class="navbar-toggler" type="button">
        <i aria-hidden="true" class="fa fa-bars text-muted"></i>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto align-items-center">
          <li class="nav-item dropdown" ngbDropdown>
            <a class="nav-link" href="javascript:void(0)" ngbDropdownToggle>
              <i class="fa fa-user">&nbsp;</i> {{ user.UserFullName}}<b>&nbsp;</b>
            </a>
            <div class="dropdown-user" ngbDropdownMenu>
              <a class="dropdown-item" href="javascript:void(0)" routerLink="/administration/user-info">
                <i class="fa fa-fw fa-user"></i> Profile
              </a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="onChangePassword()">
                <i class="fa fa-fw fa-gear"></i> Change Password
              </a>
          <li class="dropdown-divider"></li>
          <a (click)="onLoggedout()" routerLink="/login" class="dropdown-item">
            <i class="fa fa-fw fa-power-off"></i>Logout
          </a>
      </div>
      </li>
      </ul>
      </div>
    </div>
  </dxi-item>
</dx-toolbar> -->
