<div class="modal-header">
    <h4 class="modal-title">ĐỔI MẬT KHẨU</h4>
    <!-- <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button> -->
    <!-- <dx-button
        icon="fa fa-times"
        type="danger"
        (click)="activeModal.close('Close click')"
    ></dx-button> -->

</div>
<div class="modal-body">
    <dx-validation-group #validationEntity>
        <div class="field">
            <label>Mật khẩu cũ:</label>
            <dx-text-box mode="password" [(value)]="oldPassword">
                <dx-validator>
                    <dxi-validation-rule
                    type="required"
                    message="Yêu cầu nhập mật khẩu cũ!"
                    ></dxi-validation-rule>
                </dx-validator>
            </dx-text-box>
        </div>
        <div class="field">
            <label>Mật khẩu mới:</label>
            <dx-text-box mode="password" [(value)]="newPassword">
                <dx-validator>
                    <dxi-validation-rule
                    type="required"
                    message="Yêu cầu nhập mật khẩu mới!"
                    ></dxi-validation-rule>
                </dx-validator>
                <dxi-validation-rule type="custom"
                                message="Mật khâu phải có ít nhất 8 ký tự, có ký tự số, chữ cái và ký tự đặc biệt"  [ignoreEmptyValue]="true"
                                [validationCallback]="validationPasswordCheck"></dxi-validation-rule>
            </dx-text-box>
            <dx-text-box 
                mode="password" 
                [elementAttr]="{ class: 'password-reenter' }"
                placeholder="Nhập lại mật khẩu mới..."
            >
                <dx-validator>
                    <dxi-validation-rule
                    type="required"
                    message="Yêu cầu xác nhận mật khẩu!"
                    ></dxi-validation-rule>
                    <dxi-validation-rule
                    type="compare"
                    [comparisonTarget]="passwordComparison"
                    message="Mật khẩu không khớp!"
                    ></dxi-validation-rule>
                </dx-validator>
            </dx-text-box>
        </div>
    </dx-validation-group>
</div>
<div class="modal-footer">
    <dx-button
        text="Xác nhận"
        icon="fa fa-check"
        type="default"
        (onClick)="onPasswordChange()"
    ></dx-button>
    <dx-button
        text="Hủy"
        icon="fa fa-times"
        type="danger"
        (click)="activeModal.close('Close click')"
    ></dx-button>
</div>