::ng-deep .modal {
    z-index: 2000;
}
.password-reenter {
    margin-top: 5px;
}
::ng-deep .field {
    margin-bottom: .5rem;
    label {
        margin-bottom: 2px;
        font-weight: 500;
    }
    .labelCheckbox {
        margin-left: 5px;
    }
}