<app-generic-page [pageTitle]="title" [loading]="loading">
  <ng-container main-filters>
    <dx-text-box style="width: 700px;" mode="search" [showClearButton]="false" [placeholder]="placeholderSearch"
      [(value)]="textSearch" (onEnterKey)="onFilter()">
    </dx-text-box>
  </ng-container>

  <ng-container extra-filters>

  </ng-container>

  <ng-container buttons>
    <dx-button appPermission appRole="USER_MANAGEMENT" permissionCode="ADD" text="Thêm mới"
      [icon]="dxButtonConfig.add_icon" [type]="dxButtonConfig.add_type" (click)="add()"></dx-button>
  </ng-container>

  <ng-container body>
    <div class="view-card-body">
      <div class="card-content">
        <div class="content">
          <dx-data-grid
            [dataSource]="listData"
            [showBorders]="true"
            [showColumnLines]="true"
            [hoverStateEnabled]="true"
            [focusedRowEnabled]="true"
            [focusedRowKey]="focusKey"
            [paging]="{ enabled: false }"
            noDataText="Không có dữ liệu"
            [wordWrapEnabled]="true"
            (onFocusedRowChanged)="onFocusedRowChanged($event)">

            <dxo-scrolling mode="standard" rowRenderingMode="standard"></dxo-scrolling>
            <dxo-header-filter [visible]="false"></dxo-header-filter>

            <dxi-column cellTemplate="cellIndex" caption="TT" [width]="50" alignment="center"
              cssClass="vertical-middle"> </dxi-column>
            <dxi-column dataField="Username" caption="Tài khoản đăng nhập" cssClass="vertical-middle"></dxi-column>
            <dxi-column dataField="Full_Name" caption="Tên người dùng" cssClass="vertical-middle"></dxi-column>
            <dxi-column cellTemplate="cellAction" [width]="60" alignment="center" [showInColumnChooser]="false"
              cssClass="vertical-middle"></dxi-column>

            <div *dxTemplate="let row of 'cellIndex'" style="text-align: center;">
              <span>{{ pageSize * (pageIndex - 1) + (row.rowIndex + 1) }}</span>
            </div>
            <div appPermission appRole="USER_MANAGEMENT" permissionCode="DELETE" class="rowAction"
              *dxTemplate="let row of 'cellAction'">
              <div class="d-flex flex-row">
                <span class="dx-icon-refresh mr-1 text-primary" (click)="resetPassword(row.data.Id)"></span>
                <span class="dx-icon-close" (click)="delete(row.data.Id, row.data.Username)"></span>
              </div>
            </div>
          </dx-data-grid>
        </div>
        <div class="paginator">
          <app-paginator [(page)]="pageIndex" [(pageSize)]="pageSize" [totalRows]="totalRows" [pageSizes]="pageSizes"
            (onPageChanged)="pageChanged($event)" (onPageSizeChanged)="pageSizeChanged($event)"></app-paginator>
        </div>
      </div>

      <div class="toggle-detail">
        <i *ngIf="isShowDetail" class="fa fa-chevron-right fa-lg" (click)="toggleDetail()"></i>
        <i *ngIf="!isShowDetail" class="fa fa-chevron-left fa-lg" (click)="toggleDetail()"></i>
      </div>

      <div *ngIf="isShowDetail" class="card-detail">
        <div class="detail-header">
          <p>{{ state === 'detail' ? 'CHI TIẾT' : state === 'insert' ? 'THÊM MỚI' : 'CẬP NHẬT' }}</p>
          <dx-button [icon]="dxButtonConfig.close_icon" [type]="dxButtonConfig.cancel_type" (click)="toggleDetail()">
          </dx-button>
        </div>
        <div class="detail-content">
          <dx-scroll-view>
            <app-form-user-detail #detail [entity]="currentEntity" [listData]="allData" [state]="state">
            </app-form-user-detail>
          </dx-scroll-view>
        </div>
        <div class="detail-footer">
          <dx-button appPermission appRole="USER_MANAGEMENT" permissionCode="UPDATE" *ngIf="state=='detail'"
            [icon]="dxButtonConfig.edit_icon" [type]="dxButtonConfig.edit_type" text="Sửa" (click)="edit()"></dx-button>
          <dx-button *ngIf="state!='detail'" [icon]="dxButtonConfig.save_icon" [type]="dxButtonConfig.save_type"
            text="Lưu" (click)="save()"></dx-button>
          <dx-button *ngIf="state!='detail'" [icon]="dxButtonConfig.cancel_icon" [type]="dxButtonConfig.cancel_type"
            text="Hủy" (click)="cancel()"></dx-button>
        </div>
      </div>
    </div>
  </ng-container>
</app-generic-page>
