<app-generic-page [pageTitle]="title" [loading]="loading">
  <ng-container main-filters>
    <div class="search-container">
      <dx-text-box style="width: 700px;" mode="search" [showClearButton]="true" [placeholder]="placeholderSearch"
        [(value)]="textSearch" (onEnterKey)="onFilter()">
        <dx-button slot="buttons" [icon]="'search'" (onClick)="onFilter()"></dx-button>
      </dx-text-box>
    </div>
  </ng-container>

  <ng-container extra-filters>
    <!-- Additional filters can be added here if needed -->
  </ng-container>

  <ng-container buttons>
    <dx-button text="Add New" [icon]="dxButtonConfig.add_icon" [type]="dxButtonConfig.add_type" (click)="add()"></dx-button>
    <dx-button text="Expand All" [icon]="'expand'" [type]="'default'" (click)="expandAll()" class="ml-2"></dx-button>
    <dx-button text="Collapse All" [icon]="'collapse'" [type]="'default'" (click)="collapseAll()" class="ml-2"></dx-button>
  </ng-container>

  <ng-container body>
    <div class="view-card-body">
      <div class="card-content">
        <div class="content">
          <dx-tree-list
            id="treeListContainer"
            [dataSource]="treeData"
            [showBorders]="true"
            [columnAutoWidth]="true"
            [wordWrapEnabled]="true"
            [rootValue]="null"
            keyExpr="Id"
            parentIdExpr="Parent_Id"
            [focusedRowEnabled]="true"
            [focusedRowKey]="focusKey"
            (onFocusedRowChanged)="onFocusedRowChanged($event)"
            (onRowClick)="onRowClick($event)"
            noDataText="No data available">

            <dxo-selection mode="single" [recursive]="false"></dxo-selection>
            <dxo-scrolling mode="standard" rowRenderingMode="standard"></dxo-scrolling>
            <dxo-header-filter [visible]="false"></dxo-header-filter>
            <dxo-paging [enabled]="false"></dxo-paging>

            <dxi-column dataField="DisplayIndex" caption="No." [width]="80" alignment="center"></dxi-column>
            <!-- <dxi-column dataField="Id" caption="Topic Code" [width]="80" alignment="center"></dxi-column> -->
            <dxi-column dataField="Name" caption="Topic Name"></dxi-column>
            <dxi-column dataField="Description" caption="Description"></dxi-column>
            <dxi-column dataField="Created_At" caption="Created Date" dataType="datetime" format="dd/MM/yyyy HH:mm" [width]="180"></dxi-column>
            <dxi-column dataField="Updated_At" caption="Updated Date" dataType="datetime" format="dd/MM/yyyy HH:mm" [width]="180"></dxi-column>
            <dxi-column caption="Actions" [width]="100" cellTemplate="actionTemplate"></dxi-column>

            <div *dxTemplate="let cell of 'actionTemplate'">
              <div class="action-buttons">
                <button type="button" class="btn-action btn-edit" (click)="editRow({row: {data: cell.data}, event: $event})">
                  <i class="dx-icon dx-icon-edit"></i>
                </button>
                <button type="button" class="btn-action btn-delete" (click)="deleteRow({row: {data: cell.data}, event: $event})">
                  <i class="dx-icon dx-icon-trash"></i>
                </button>
              </div>
            </div>
          </dx-tree-list>
        </div>
      </div>

      <div class="toggle-detail" (click)="toggleDetail()">
        <i *ngIf="isShowDetail" class="fa fa-chevron-right fa-lg"></i>
        <i *ngIf="!isShowDetail" class="fa fa-chevron-left fa-lg"></i>
      </div>

      <div *ngIf="isShowDetail" class="card-detail">
        <div class="detail-header">
          <p>
            <i *ngIf="state === 'detail'" class="fa fa-info-circle mr-2"></i>
            <i *ngIf="state === 'insert'" class="fa fa-plus-circle mr-2"></i>
            <i *ngIf="state === 'edit'" class="fa fa-edit mr-2"></i>
            {{ state === 'detail' ? 'DETAILS' : state === 'insert' ? 'ADD NEW' : 'UPDATE' }}
          </p>
        </div>
        <div class="detail-content">
          <dx-scroll-view>
            <div class="form-container">
              <dx-form id="form" [formData]="currentEntity" labelLocation="top">
                <dxi-item *ngIf="currentEntity.Id" dataField="Id" [editorOptions]="{ disabled: true }">
                  <dxo-label text="Topic Code"></dxo-label>
                  <dxi-validation-rule type="required" message="Topic code is required"></dxi-validation-rule>
                </dxi-item>

                <dxi-item dataField="Name" [editorOptions]="{
                    disabled: state === 'detail',
                    stylingMode: 'filled',
                    placeholder: 'Enter topic name'
                  }">
                  <dxo-label text="Topic Name"></dxo-label>
                  <dxi-validation-rule type="required" message="Topic name is required"></dxi-validation-rule>
                  <dxi-validation-rule type="pattern" [pattern]="namePattern" [message]="namePatternMessage"></dxi-validation-rule>
                </dxi-item>

                <dxi-item dataField="Description" editorType="dxTextArea"
                  [editorOptions]="{
                    height: 100,
                    disabled: state === 'detail',
                    stylingMode: 'filled',
                    placeholder: 'Enter topic description'
                  }">
                  <dxo-label text="Description"></dxo-label>
                </dxi-item>

                <dxi-item dataField="Parent_Id" editorType="dxSelectBox"
                  [editorOptions]="{
                    items: parentTopics,
                    displayExpr: 'Name',
                    valueExpr: 'Id',
                    disabled: state === 'detail',
                    stylingMode: 'filled',
                    placeholder: 'Select parent topic',
                    searchEnabled: true
                  }">
                  <dxo-label text="Parent Topic"></dxo-label>
                </dxi-item>

                <dxi-item *ngIf="state === 'detail' && currentEntity.Created_At" dataField="Created_At" editorType="dxDateBox"
                  [editorOptions]="{
                    type: 'datetime',
                    displayFormat: 'dd/MM/yyyy HH:mm',
                    disabled: true,
                    stylingMode: 'filled'
                  }">
                  <dxo-label text="Created Date"></dxo-label>
                </dxi-item>

                <dxi-item *ngIf="state === 'detail' && currentEntity.Updated_At" dataField="Updated_At" editorType="dxDateBox"
                  [editorOptions]="{
                    type: 'datetime',
                    displayFormat: 'dd/MM/yyyy HH:mm',
                    disabled: true,
                    stylingMode: 'filled'
                  }">
                  <dxo-label text="Updated Date"></dxo-label>
                </dxi-item>
              </dx-form>
            </div>
          </dx-scroll-view>
        </div>
        <div class="detail-footer">
          <dx-button *ngIf="state=='detail'" [icon]="dxButtonConfig.edit_icon" [type]="dxButtonConfig.edit_type"
            text="Edit" (click)="edit()"></dx-button>
          <dx-button *ngIf="state!='detail'" [icon]="dxButtonConfig.save_icon" [type]="dxButtonConfig.save_type"
            text="Save" (click)="save()"></dx-button>
          <dx-button *ngIf="state!='detail'" [icon]="dxButtonConfig.cancel_icon" [type]="dxButtonConfig.cancel_type"
            text="Cancel" (click)="cancel()"></dx-button>
        </div>
      </div>
    </div>
  </ng-container>
</app-generic-page>
